<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/">Home</a>
        {{#if loggedIn}}
          <button id="logout">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
        <a href="/dashboard">Dashboard</a>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer class="footerContainer">
    </footer>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>
