<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
      </nav>
      <div class="">

      </div>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer class="footerContainer">
    </footer>
  </body>
</html>
